

/* Colors
		Green 				#179C8C
		light Green 		#AEEBE4
		light light Green	#EFFCFA
		Red 				#E80000
*/

/* Icons */
@font-face {
  font-family: 'icons';
  src: url('img/font/icons.eot?47470415');
  src: url('img/font/icons.eot?47470415#iefix') format('embedded-opentype'),
       url('img/font/icons.woff?47470415') format('woff'),
       url('img/font/icons.ttf?47470415') format('truetype'),
       url('img/font/icons.svg?47470415#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icons{
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
 	text-transform: none;
 	margin-left: .2em;
}




*{
	margin:0;
	padding:0;
}
html{
  height: 100%;
}

body{
	font-family:sans-serif;
	position:relative;
	min-height: 100%;
	font-size:1em;
}

a, button, input[type=submit], input[type=reset]{
	cursor:pointer;
}
a{
	color:#179C8C;
	transition:color .2s;
	text-decoration:none;
}
a:hover{
	color:#E80000;
}

a.button, button{
	background:#AEEBE4;
	color:black;
	border:none;
	padding: 3px 5px;
	transition:background .2s, color .2s;
	margin-top:0 1px;
	display:inline-block;
}
a.button:hover, button:hover{
	background:#179C8C;
	color:white;
}
a.button:active, button:active{
	outline:1px solid #179C8C;
}

a.button[disabled], button[disabled]{
	background:#9999AA !important;
	color:black !important;
}

button.submit, button.reset, button.cancel{
	color: black;
	font-family: inherit;
	font-size: inherit;
	height: auto;
}
button.submit:hover, button.reset:hover, button.cancel:hover{
	color:white;
}
button.submit:before, button.reset:before, button.cancel:before{
	font-family: "icons";
	margin:0 5px;
}
button.submit:before		{content:'o';}
button.submit				{background:#00FF00;}
button.submit:hover			{background:#00AA00;}
button.submit:active		{outline:1px solid #00AA00;}

button.reset:before			{content:'c';}
button.reset				{background:#FFAA00;}
button.reset:hover			{background:#AA6600;}
button.reset:active			{outline:1px solid #AA6600;}

button.cancel:before		{content:'s';}
button.cancel				{background:#FF0000;}
button.cancel:hover			{background:#AA0000;}
button.cancel:active		{outline:1px solid #AA0000;}





#sidebar, #main{
	padding: 10px;
}

#sidebar{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:200px;
	background:#EFFCFA;
}
#sidebar > div, #sidebar > a{
	margin-bottom:20px;
}
#sidebar > div > a, #sidebar > div > span, #sidebar > a{
	display:block;
}
#sidebar > div > a {
	margin-left:15px;
}





#main{
	margin-left:220px;
}

table{
	border-collapse:collapse;
	border:1px solid #179C8C;
}
th, td, tr{
	border:none;
}
th, td{
	padding:3px;
}
th, tr:nth-child(even) {
    background-color: #EFFCFA;
}
th:first-child, td:first-child{
	padding-right:10px;
}
th:last-child, td:last-child{
	padding-left:10px;
}

.add, .edit, .delete{
	font-size:20px;
}
.add			{color:#00AA00;}
.add:hover		{color:#00FF00;}
.edit			{color:#AA6600;}
.edit:hover		{color:#FFAA00;}
.delete			{color:#AA0000;}
.delete:hover	{color:#FF0000;}



